{% extends 'main.html' %}
{% block content %}
<h1>Index</h1>
<div>
    <div>
        <h3>promotional area</h3>
    </div>
    <div>
        <h3>Twitch Video's</h3>
        <div class="card">
            <div><span>image/video clip</span></div>
            <h5>Title</h5>
        </div>
    </div>
    <div>
        <h3>Blender Models</h3>
        <div class="card">
            <div><span>image/video clip</span></div>
            <h5>Title</h5>
        </div>
    </div>
    <div>
        <h3>Electronics projects</h3>
        <div class="card">
            <div><span>image/video clip</span></div>
            <h5>Title</h5>
        </div>
    </div>
</div>
{% endblock %}